{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="product-box" style="width: 50%;">

        <!-- page profile -->
        <h1>Mon profil</h1>

        <table class="table table-striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Date d'inscription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: #fff">{{ user.last_name }}</td>
                    <td style="color: #fff">{{ user.first_name }}</td>
                    <td style="color: #fff">{{ user.email }}</td>
                    <td style="color: #fff">{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary">
            <a href="#">Modifier mon profile</a>
        </button>
    </div>



{% endblock %}