{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="product-box" style="width: 50%;">

        <!-- page profile -->
        <h1>Mon profil</h1>
        <div>
            <p>
                {{ user.image_profile }}
            </p>
            <p style="display: flex; width: 100%; justify-content: center;">
                <strong style="margin: auto 10px;">Nom :</strong> {{ user.last_name }}
            </p>
            <p style="display: flex; width: 100%; justify-content: center;">
                <strong style="margin: auto 10px;">Prénom :</strong> {{ user.first_name }}
            </p>
            <p style="display: flex; width: 100%; justify-content: center;">
                <strong style="margin: auto 10px;">Email :</strong> {{ user.email }}
            </p>
            <p style="display: flex; width: 100%; justify-content: center;">
                <strong style="margin: auto 10px;">Date d'inscription :</strong> {{ user.date_joined }}
            </p>
        </div>
        <button type="button" class="btn btn-primary">
            <a href="#">Modifier mon profile</a>
        </button>


        <table class="table table-striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Date d'inscription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: #fff">{{ user.last_name }}</td>
                    <td style="color: #fff">{{ user.first_name }}</td>
                    <td style="color: #fff">{{ user.email }}</td>
                    <td style="color: #fff">{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>

    </div>



{% endblock %}