{% extends 'base.html' %}

{% block content %}

    <div class="product-box" style="width: 50%;">

        <!-- page profile -->
        <h1>Mon profil</h1>
        <div style="border: solid 1px bisque;padding: 30px;">
            <p style="display: flex; width: 100%; justify-content: space-between;">
                <strong>Nom :</strong> {{ user.last_name }}
                <span>
                    <a class="btn btn-warning" href="#">Modifier</a>
                </span>
            </p>
            <p style="display: flex; width: 100%; justify-content: space-between;">
                <strong>Prénom :</strong> {{ user.first_name }}
                <span>
                    <a class="btn btn-warning" href="#">Modifier</a>
                </span>
            </p>
            <p style="display: flex; width: 100%; justify-content: space-between;">
                <strong>Email :</strong> {{ user.email }}
                <span>
                    <a class="btn btn-warning" href="#">Modifier</a>
                </span>
            </p>
            <p style="display: flex; width: 100%; justify-content: space-between;">
                <strong>Date d'inscription :</strong> {{ user.date_joined }}
                <span>
                    <a class="btn btn-warning" href="#">Modifier</a>
                </span>
            </p>
        </div>
        <button type="button" class="btn btn-primary">
            <a href="#">Ajouter des informations à mon profile</a>
        </button>

        <table class="table table-striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Date d'inscription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: #fff">{{ user.last_name }}</td>
                    <td style="color: #fff">{{ user.first_name }}</td>
                    <td style="color: #fff">{{ user.email }}</td>
                    <td style="color: #fff">{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>

    </div>



{% endblock %}