/*
* CONTENT
*/
.content-all {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

a {
  color: black;
}

.msg-login-for-add-cart {
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

/*
* HEADER
*/
header {
  width:100%;
  height: 100px;
  align-items: center;
  display: flex;
  color: black;
  background: #0097a7;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
}

.logo {
  display: flex;
  width: 33%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

a.nav-link:nth-child(1) {
  margin: auto 25px;
}

/*
* SEARCH
*/
.search {
 display: flex;
 justify-content: center;
 margin: 20px auto;
}

/*
* content-body
*/
.content-body {
 display: flex;
 width: 90%;
 justify-content: space-around;
 margin: 40px auto;
}

/*
* product
*/
.product-box {
 display: flex;
 flex-direction: column;
 width: 20%;
}

/*
* FOOTER
*/
footer {
 background: #0097a7;
 color: black;
 height:300px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.content-footer {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 90%;
 margin: auto;
}

.logo > a:nth-child(1) > img:nth-child(1) {
 width: 25%;
}

@media screen and (max-width: 900px) {
    .content-header {
        display: flex;
        align-items: center;
        margin: auto;
    }
}
