/*
* CONTENT
*/
.content-all {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

a {
  color: black;
}

.msg-login-for-add-cart {
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

/*
* HEADER
*/
header {
  width:100%;
  height: 100px;
  align-items: center;
  display: flex;
  color: black;
  background: #0097a7;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
}

.logo {
  display: flex;
  width: 33%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

a.nav-link:nth-child(1) {
  margin: auto 25px;
}

/*
* SEARCH
*/
.search {
 display: flex;
 justify-content: center;
 margin: 20px auto;
}

/*
* content-body
*/
.content-body {
 display: flex;
 width: 90%;
 justify-content: space-around;
 margin: 40px auto;
}

/*
* product
*/
.product-box {
 display: flex;
 flex-direction: column;
 width: 20%;
}

/*
* FOOTER
*/
footer {
 background: #0097a7;
 color: black;
 height:300px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.content-footer {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 90%;
 margin: auto;
}

.logo > a:nth-child(1) > img:nth-child(1) {
 width: 25%;
}

@media screen and (max-width: 900px)
{
    .logo {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 100%;
    }

    .content-header {
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    }

    .product-box {
      width: 35%;
      margin: auto;
    }

}

@media screen and (max-width: 600px)
{
    .content-header
    {
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column !important;
    }

    .content-body {
        display: flex;
        justify-content: center;
        margin: 40px auto;
        flex-direction: column;
    }

    .product-box {
      width: 80%;
    }

    div.product-box > div {
      display: flex;
      justify-content: center;
      margin: auto;
      flex-direction: column;
    }

    div.product-box > img {
      display: flex;
      justify-content: center;
      margin: auto;
    }

    .nav {
      display: flex;
      justify-content: space-around;
      margin: auto;
      width: 100%;
    }

    a.nav-link {
       margin: auto;
    }

    div.product-box > img {
    width: 70%;
    }
    .product-box {
    width: 100%;
    }
}

