{% extends 'base.html' %}

{% block content %}

    <div class="product-box">

        <!-- formulaire de contact -->
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="contactName">Votre nom</label>
                <input type="text" class="form-control" id="contactName" aria-describedby="nameHelp" placeholder="Votre nom" name="name">
                <small id="nameHelp" class="form-text text-muted">Nous ne partagerons pas votre nom avec qui que ce soit.</small>
                <label for="contactEmail">Votre email</label>
                <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" placeholder="Votre email" name="email">
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas votre email avec qui que ce soit.</small>
                <label for="contactMessage">Votre message</label>
                <textarea class="form-control" id="contactMessage" rows="3" name="message"></textarea>

                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>

    </div>



{% endblock %}