{% extends 'base.html' %}

{% block content %}
{% for product in products %}

    <div class="product-box">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="caption">
            <h4>{{ product.name }}</h4>
            <p>
                <a class="btn btn-success" href="{{ product.get_absolute_url }}">Détails</a>

                <a href="{{ product.url }}" class="btn btn-warning" role="button">Ajouter au panier</a>

            </p>
        </div>
    </div>

{% endfor %}
{% endblock %}